/* CSS Variables */
:root {
    --normal-font: 400;
    --bold-font: 600;
    --bolder-font: 900;
    --primary-color: #3c413f;
    --secondary-color: #F5D647;
    --line-height: 1.7rem;
    --transition: 0.4s ease-in;
}

body {
    font-family: "futura", Sans-Serif;
    background-color: #101010;
    color: aliceblue;
    margin: 0;
}

a {
    color:aliceblue;
}

h1, h2, h3 {
    font-weight: bold;
}

h1 {
    font-size: 5em;
    text-transform: uppercase;
}

h2 {
    font-size: 2.25em;
    color: var(--secondary-color);
}

p {
    font-size: 1.5em;
}

.header{
    height:2.75rem;
}

.wrapper{
    width: 90%;
    padding-top: 60px;
    margin-right: auto;
    margin-left: auto;
  }


.container{
    width: 850px;
    margin: 0 auto;
    padding: 2rem;
}


/* Home */

.home {
    min-height: 600px;
    background-image: url(../img/js-top2.png);
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: right top;
}

.home h1{
    font-size: 5.5rem;
    margin: 4rem 0 2rem;
    line-height: 7.5rem;
}

.home p {
    line-height: 2.5rem;
    margin: 6rem 0;
    font-size: 1.2rem;
}


.home ul{
    font-size: 3.5rem;
    text-transform: uppercase;
}

.home li{
    list-style-type: none;
    position: relative;
    padding-left: 3rem;
    margin-bottom: 2rem;
}

.home li::before{
    content: "\25BA \0020";
    position: absolute;
    top: 7px;
    left: -25px;
    font-size: 2.75rem;
}

.home li a{
    text-decoration: none;
}

.home li:hover{
    color: var(--secondary-color);
}


/* Stopwatch */
.stopwatch, .todo{
    padding:6rem 0;
    min-height: 700px;
    text-align: center;
}

.timer{
    font-size: 6rem;
    padding: 0.5rem 0 0;
}

.buttons button{
    font-size: 4rem;
    width:16rem;
    margin: 0 20px 0 0;
    padding: 5px;
    text-transform: uppercase;
}

/* To-Do list */
.newtask button, input{
    font-size: 3rem;
    margin: 4rem 0;
}

.tasks, .tasks button{
    font-size: 3rem; 
}

.delete{
    width: 3rem;
    height: 3rem;
}